* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-bottom: 3rem;
}

.title {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.imagesGallery {
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  border: 3px solid burlywood;
  max-width: calc(33.33% - 2rem);
  opacity: 0.75;
  margin: 0 1rem;
}
