* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-bottom: 3rem;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

.imagesGallery {
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  border: 3px solid burlywood;
  max-width: calc(33.33% - 2rem);
  height: auto;
  opacity: 0.75;
  margin: 0 1rem;
  transition: 0.2s all;
}

.image:hover {
  opacity: 1;
}

.image:active {
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .imagesGallery {
    flex-direction: column;
  }

  .image {
    max-width: 80%;
    margin-bottom: 3rem;
  }
} ;
